:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #fef8f8 !important;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card_ {
    position: relative;
    display: block;
    width: 300px;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card_:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
  }       
  
  .card_:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  
  .input-file {
    padding:30px;
    width: 300px;
    margin: 0 auto;
    background: #ffffff;
      -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.04);
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0);
  }
  .upload-img {
      border-radius: 100%;
      display: inline-block;
      width: 70px;
      height: 70px;
      object-fit: cover;
      object-position: 50% 50%;
      border: 3px solid #0d6efd;
      margin-right: 15px;
      vertical-align: middle;
  }
  .input-file-upload {
      position: relative;
      display: inline-block;
      vertical-align: middle;
  }
  .input-file-upload input[type="file"] {
    opacity: 0;
    padding: 10px 0;
    height:36px;
    width: 150px;
  }
  
  .upload-label {
    width: 150px;
    height: 36px;
    background: #0d6efd;
    text-align: center;
    color: #ffffff;
    display: block;
    padding: 8px 0;
    position: absolute;
      line-height: normal;
      font-size: 14px;
      font-weight: 700;
      transition: all 0.3s ease-in-out;
  }
  .input-file-upload:hover .upload-label {
      background: #0d6efd78;
      color: #043072;
  }
  
  
  ::-webkit-scrollbar {
    width: 15px;
    height: 50%;
    }
  
    ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    }
  
    ::-webkit-scrollbar-thumb {
    background-color: #043072;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
    }

    .card {
      width: 60%; /* Ancho del 60% */
      margin: 50px auto; /* Centrado horizontal y margen superior */
  }